@charset "UTF-8";


.contentBox .card {
    margin-bottom: 15px;
    border: none;
}
.card-body{
	text-align:center;
}


#categoryMD {
    margin-bottom: 30px;
}
#categorySM{
	margin-bottom: 40px;
}

#categorySM span{
	text-decoration-line: none;
    color: black;
}
#categorySM a{
	text-decoration-line: none;
}

#links {
    text-align: right;
    border-top: 1px solid gray;
    margin-bottom: 80px;
}


.search {
    text-align: center;
    display: flex;
    justify-content: center;
}
.search a {
	margin-left:5px;
	margin-right:5px;
	cursor:pointer;
	text-decoration-line: none;
    color: black;
}
#count{
    font-size: small;
}
.countBox {
    text-align: left;
}
