@charset "UTF-8";

@font-face {
	font-family: 'GowunDodum-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	font-family: 'GowunDodum-Regular';
}
/*카테고리*/
.main-category a{
	text-decoration-line: none;
    color: black;
}

/*콘텐츠 영역*/
.main-content {
	
	margin-bottom:50px;
}

.main-content img {
	max-width: 100%;
	height: auto;
}

.content-text {
	text-align: justify;
	text-align: center;
}
.content-extra-box2{
	padding:10px;
}

.content-extra-box {
	padding:10px;
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	max-width: 100%;
	height: auto;
	justify-content: center;
}

.content-extra-box  img {
	-webkit-filter: grayscale(100%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(100%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(100%);
	-o-transition: .5s ease-in-out;
}

.content-extra-box img:hover {
	-webkit-filter: grayscale(0%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%);
	-o-transition: .5s ease-in-out;
}

/*설명 부분*/
.main-descript {
	text-align: center;
	padding: 5%;
}

/*상품페이지 이동 버튼*/
.main-BtnProduct {
	padding: 10px;
	margin-bottom: 5%;
}
/*card 텍스트 가운데 정렬*/
.card-body {
    text-align: center;
}

