@charset "UTF-8";

* {
	border: 0px solid black;
}

.title-row {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 10px;
	margin-bottom: 20px;
}
p {
    text-align: center;
}
#btnDelete {
    width: 30%;
    float: right;
}

.itemImg {
    height: 120px;
    width: 100px;
}
#selectBox {
    margin-top: 25px;
    margin-right: 50px;
}
.body-list {
	margin-top: 20px;
	margin-bottom: 20px;
}
#qty {
width: 20px;
text-align:center;
}
.price-row {
    border-top: 1px solid gray;
    margin-top: 50px;
    text-align: right;
}
.button-row {
    margin-top: 50px;
    text-align: center;
}