@charset "UTF-8";
/* 폰트 스타일 */
@font-face {
    font-family: 'GowunDodum-Regular';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
   font-style: normal;
   }

   *{
     font-family: 'Roboto Mono', monospace;
     font-family: 'GowunDodum-Regular';}
     
html, body {
	width: 100%;
	height: 100%;
}


* {
	font-size: medium;
}


/*imgBox_Q&A*/
.imgBox {

	background-image: url('/resources/images/Board_Q&A.png');
}

/*noticeBox*/
.qnaBox {
	height: 60px;
	padding-top: 2px;
	padding-bottom: 2px;
}



.resSearchBox * {
	height: 36px;
	z-index: 0;
}


/*searchBox*/
.searchBox {
	height: 100px;
	border-bottom: 1px solid lightgray;
}

.searchBox>* {
	height: 40px;
	margin: 5px;
}

/*boardBox*/
.boardBox {
	height: 300px;
}

.boardBox a{
	text-decoration : none;
	color: black;	
}


.boardBox>.row {
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

/*writeBtnBox*/
.writeBtnBox {
	height: 80px;
}

/*paginBox*/
.paginBox {
	height: 80px;
}